* {
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.cont {
    padding: 50px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

.section-one__name {
    font-size: 60px;
}

.section-one__para {
    font-size: 30px;
    margin-top: 10px
}

.section-one__contact {
    margin-top: 10px;
}

.section-two,
.section-four,
.section-five,
.section-three {
    margin: 20px;
}

.section-two__para,
.section-two__para,
.section-three__desc,
.section-four__desc,
.section-five__desc {
    margin-top: 10px;

}

.section-five {
    background-color: black;
    color: white;
    padding: 20px;
    margin-right: 5px;
}

.section-five__title a {
    color: skyblue;
}

.section-three li,
.section-four,
li {
    list-style: none;
}
.section-three{
    background-color:  #6462fd;
    color: black;
    display: flex;
    padding: 20px;
    margin-: 0px;
   height: 200px;
   border-radius: 10px;
   vertical-align:top;
   margin-right: 0px;
   margin-top: 5px;
   margin-left: 0px;
   margin-bottom: 10px;
}
.section-two{
    margin-left: 5px;
    margin-left: 2px;
}
.section-four{
    margin-left: 5px;
    margin-left: 2px;
}
.section-five{
    margin-left: 5px;
    margin-left: 2px;

}
.section-three{
    margin-bottom: 40px;
}
.section-four{
    background-color: #fe7517;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    margin-right: px;
    vertical-align: top;
}
.section-four{
    margin-top: 5px;
}
.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
   margin-top: 10px; 
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
}
.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: orangered;
    color: black;
    border: none;
}
.section-five{
    margin: 0;
}
